#body{
    background-image: url(../images/backgroundImg.jpg);
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 30px;
    min-height: 600px;
}

#start-msg {
    margin: 30px;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

#options {
    display: none;
}

.option {
    margin: 10px auto;
    /*background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;*/
    cursor: pointer;
    max-width: 250px;
}

.option:hover{
    background-color: #fff;
    border: 2px solid #000;
}

#result{
    display: none;
}

#timer{
    height: 30px;
}